@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;

        --chart-1: 217.2 32.6% 17.5%;
        --chart-2: 217.2 26.8% 23.5%;
        --chart-3: 224.8 22.5% 49.3%;
        --chart-4: 215 20.2% 65.1%;
        --chart-5: 212.7 26.8% 83.9%;

        --color-1: var(--color-1-default);
        --color-2: var(--color-2-default);
        --color-3: var(--color-3-default);
        --color-4: var(--color-4-default);
        --color-5: var(--color-5-default);

        --color-1-default: hsl(217.2 32.6% 23.5%);
        --color-2-default: hsl(217.2 26.8% 35.5%);
        --color-3-default: hsl(224.8 22.5% 49.3%);
        --color-4-default: hsl(215 20.2% 65.1%);
        --color-5-default: hsl(212.7 26.8% 83.9%);
        --color-1-palette: hsl(12 76% 61%);
        --color-2-palette: hsl(173 58% 39%);
        --color-3-palette: hsl(197 37% 24%);
        --color-4-palette: hsl(43 74% 66%);
        --color-5-palette: hsl(27 87% 67%);
        --color-1-sapphire: hsl(221.2 83.2% 53.3%);
        --color-2-sapphire: hsl(216 92% 60%);
        --color-3-sapphire: hsl(212 95% 68%);
        --color-4-sapphire: hsl(210 98% 78%);
        --color-5-sapphire: hsl(212 97% 87%);
        --color-1-ruby: hsl(347 77% 50%);
        --color-2-ruby: hsl(349 77% 62%);
        --color-3-ruby: hsl(350 80% 72%);
        --color-4-ruby: hsl(351 83% 82%);
        --color-5-ruby: hsl(352 83% 91%);
        --color-1-emerald: hsl(140 58% 40%);
        --color-2-emerald: hsl(140 56% 51%);
        --color-3-emerald: hsl(140 57% 65%);
        --color-4-emerald: hsl(140 83% 80%);
        --color-5-emerald: hsl(140 83% 91%);
        --color-1-daylight: hsl(25 34% 28%);
        --color-2-daylight: hsl(26 36% 34%);
        --color-3-daylight: hsl(28 40% 40%);
        --color-4-daylight: hsl(31 41% 48%);
        --color-5-daylight: hsl(35 43% 53%);
        --color-1-midnight: hsl(240 2% 26%);
        --color-2-midnight: hsl(240 1% 42%);
        --color-3-midnight: hsl(240 1% 58%);
        --color-4-midnight: hsl(240 1% 74%);
        --color-5-midnight: hsl(359 2% 90%);
        --color-1-coral: hsl(24 77% 50%);
        --color-2-coral: hsl(24 77% 62%);
        --color-3-coral: hsl(24 80% 72%);
        --color-4-coral: hsl(24 83% 82%);
        --color-5-coral: hsl(24 83% 91%);
        --color-1-amber: hsl(41 77% 50%);
        --color-2-amber: hsl(43 77% 62%);
        --color-3-amber: hsl(42 80% 72%);
        --color-4-amber: hsl(38 83% 82%);
        --color-5-amber: hsl(41 83% 91%);
        --color-1-amethyst: hsl(273 77% 50%);
        --color-2-amethyst: hsl(273 77% 62%);
        --color-3-amethyst: hsl(273 80% 72%);
        --color-4-amethyst: hsl(273 83% 82%);
        --color-5-amethyst: hsl(273 83% 91%);
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;

        --chart-1: 210 40% 98%;
        --chart-2: 212.7 26.8% 83.9%;
        --chart-3: 215 20.2% 65.1%;
        --chart-4: 220.6 13.2% 59.1%;
        --chart-5: 224.8 9.5% 51.3%;

        --color-1-default: hsl(210 40% 98%);
        --color-2-default: hsl(212.7 26.8% 83.9%);
        --color-3-default: hsl(215 20.2% 65.1%);
        --color-4-default: hsl(220.6 13.2% 59.1%);
        --color-5-default: hsl(224.8 9.5% 51.3%);
        --color-1-palette: hsl(220 70% 50%);
        --color-2-palette: hsl(160 60% 45%);
        --color-3-palette: hsl(30 80% 55%);
        --color-4-palette: hsl(280 65% 60%);
        --color-5-palette: hsl(340 75% 55%);
        --color-1-sapphire: hsl(221.2 83.2% 53.3%);
        --color-2-sapphire: hsl(212 95% 68%);
        --color-3-sapphire: hsl(216 92% 60%);
        --color-4-sapphire: hsl(210 98% 78%);
        --color-5-sapphire: hsl(212 97% 87%);
        --color-1-ruby: hsl(347 77% 50%);
        --color-2-ruby: hsl(349 77% 62%);
        --color-3-ruby: hsl(350 80% 72%);
        --color-4-ruby: hsl(351 83% 82%);
        --color-5-ruby: hsl(352 83% 91%);
        --color-1-emerald: hsl(140 58% 40%);
        --color-2-emerald: hsl(140 56% 51%);
        --color-3-emerald: hsl(140 57% 65%);
        --color-4-emerald: hsl(140 83% 80%);
        --color-5-emerald: hsl(140 83% 91%);
        --color-1-daylight: hsl(25 34% 28%);
        --color-2-daylight: hsl(26 36% 34%);
        --color-3-daylight: hsl(28 40% 40%);
        --color-4-daylight: hsl(31 41% 48%);
        --color-5-daylight: hsl(35 43% 53%);
        --color-1-midnight: hsl(359 2% 90%);
        --color-2-midnight: hsl(240 1% 74%);
        --color-3-midnight: hsl(240 1% 58%);
        --color-4-midnight: hsl(240 1% 42%);
        --color-5-midnight: hsl(240 2% 26%);
        --color-1-coral: hsl(24 77% 50%);
        --color-2-coral: hsl(24 77% 62%);
        --color-3-coral: hsl(24 80% 72%);
        --color-4-coral: hsl(24 83% 82%);
        --color-5-coral: hsl(24 83% 91%);
        --color-1-amber: hsl(41 77% 50%);
        --color-2-amber: hsl(43 77% 62%);
        --color-3-amber: hsl(42 80% 72%);
        --color-4-amber: hsl(38 83% 82%);
        --color-5-amber: hsl(41 83% 91%);
        --color-1-amethyst: hsl(273 77% 50%);
        --color-2-amethyst: hsl(273 77% 62%);
        --color-3-amethyst: hsl(273 80% 72%);
        --color-4-amethyst: hsl(273 83% 82%);
        --color-5-amethyst: hsl(273 83% 91%);
    }

    .palette {
        --background: 0 0% 100%;
        --foreground: 197 37% 45%;
        --card: 0 0% 100%;
        --card-foreground: 27 87% 24%;
        --popover: 0 0% 100%;
        --popover-foreground: 27 87% 24%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 12 76% 61%;
        --secondary: 27 87% 67%;
        --secondary-foreground: 197 37% 24%;
        --muted: 43 74% 90%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 197 37% 24%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 173 58% 89%;
        --input: 240 5.9% 90%;
        --ring: 173 58% 39%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;

        --color-1: var(--color-1-palette);
        --color-2: var(--color-2-palette);
        --color-3: var(--color-3-palette);
        --color-4: var(--color-4-palette);
        --color-5: var(--color-5-palette);
    }
    .palette.dark {
        --background: 240 10% 3.9%;
        --foreground: 30 80% 78%;
        --card: 240 10% 3.9%;
        --card-foreground: 340 75% 85%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 340 75% 85%;
        --primary: 30 80% 92%;
        --primary-foreground: 30 80% 40%;
        --secondary: 340 75% 15.9%;
        --secondary-foreground: 30 80% 55%;
        --muted: 280 65% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 30 80% 55%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    .sapphire {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 44%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 216 92% 60%;
        --chart-3: 212 95% 68%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;

        --color-1: var(--color-1-sapphire);
        --color-2: var(--color-2-sapphire);
        --color-3: var(--color-3-sapphire);
        --color-4: var(--color-4-sapphire);
        --color-5: var(--color-5-sapphire);
    }
    .sapphire.dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 17.1%;
        --secondary-foreground: 222.2 47.4% 98.2%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 210 40% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 221.2 83.2% 53.3%;
        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 216 92% 60%;
        --chart-3: 212 95% 68%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
    }

    .ruby {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 99%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 45%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 346.8 77.2% 49.8%;
        --chart-1: 347 77% 50%;
        --chart-2: 349 77% 62%;
        --chart-3: 350 80% 72%;
        --chart-4: 351 83% 82%;
        --chart-5: 352 83% 91%;

        --color-1: var(--color-1-ruby);
        --color-2: var(--color-2-ruby);
        --color-3: var(--color-3-ruby);
        --color-4: var(--color-4-ruby);
        --color-5: var(--color-5-ruby);
    }
    .ruby.dark {
        --background: 346.8 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 346.8 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 346.8 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 99%;
        --secondary: 346.8 40% 16.9%;
        --secondary-foreground: 346.8 5.9% 87%;
        --muted: 346.8 3.7% 15.9%;
        --muted-foreground: 346.8 5% 64.9%;
        --accent: 346.8 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 0 0% 98%;
        --border: 346.8 3.7% 15.9%;
        --input: 346.8 3.7% 15.9%;
        --ring: 221.2 83.2% 53.3%;
        --chart-1: 347 77% 50%;
        --chart-2: 349 77% 62%;
        --chart-3: 350 80% 72%;
        --chart-4: 351 83% 82%;
        --chart-5: 352 83% 91%;
    }

    .emerald {
        --background: 0 0% 100%;
        --foreground: 142 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 142 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 142 10% 3.9%;
        --primary: 142 86% 28%;
        --primary-foreground: 356 29% 98%;
        --secondary: 142 4.8% 95.9%;
        --secondary-foreground: 142 5.9% 10%;
        --muted: 142 4.8% 95.9%;
        --muted-foreground: 142 3.8% 45%;
        --accent: 142 4.8% 95.9%;
        --accent-foreground: 142 5.9% 10%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 0 0% 98%;
        --border: 142 5.9% 90%;
        --input: 142 5.9% 90%;
        --ring: 142 86% 28%;
        --chart-1: 142 88% 28%;
        --chart-2: 140 58% 40%;
        --chart-3: 140 56% 51%;
        --chart-4: 140 83% 80%;
        --chart-5: 140 83% 91%;

        --color-1: var(--color-1-emerald);
        --color-2: var(--color-2-emerald);
        --color-3: var(--color-3-emerald);
        --color-4: var(--color-4-emerald);
        --color-5: var(--color-5-emerald);
    }
    .emerald.dark {
        --background: 142 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 142 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 142 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 142 86% 28%;
        --primary-foreground: 356 29% 98%;
        --secondary: 142 38% 11.9%;
        --secondary-foreground: 142 5.9% 97%;
        --muted: 142 3.7% 15.9%;
        --muted-foreground: 142 5% 64.9%;
        --accent: 142 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 0 0% 98%;
        --border: 142 3.7% 15.9%;
        --input: 142 3.7% 15.9%;
        --ring: 142 86% 28%;
        --chart-1: 142 88% 28%;
        --chart-2: 140 58% 40%;
        --chart-3: 140 56% 51%;
        --chart-4: 140 83% 80%;
        --chart-5: 140 83% 91%;
    }

    .daylight {
        --background: 36 39% 88%;
        --foreground: 36 45% 15%;
        --primary: 36 45% 50%;
        --primary-foreground: 36 45% 91%;
        --secondary: 40 35% 77%;
        --secondary-foreground: 36 45% 25%;
        --accent: 36 64% 57%;
        --accent-foreground: 36 72% 17%;
        --destructive: 0 84% 37%;
        --destructive-foreground: 0 0% 98%;
        --muted: 36 33% 75%;
        --muted-foreground: 36 45% 25%;
        --card: 36 46% 82%;
        --card-foreground: 36 45% 20%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --border: 36 45% 60%;
        --input: 36 45% 60%;
        --ring: 36 45% 30%;
        --chart-1: 25 34% 28%;
        --chart-2: 26 36% 34%;
        --chart-3: 28 40% 40%;
        --chart-4: 31 41% 48%;
        --chart-5: 35 43% 53%;

        --color-1: var(--color-1-daylight);
        --color-2: var(--color-2-daylight);
        --color-3: var(--color-3-daylight);
        --color-4: var(--color-4-daylight);
        --color-5: var(--color-5-daylight);
    }
    .daylight.dark {
        --background: 36 39% 12%;
        --foreground: 36 45% 90%;
        --primary: 36 45% 85%;
        --primary-foreground: 36 45% 30%;
        --secondary: 40 35% 25%;
        --secondary-foreground: 36 45% 70%;
        --accent: 36 64% 40%;
        --accent-foreground: 36 72% 85%;
        --destructive: 0 84% 20%;
        --destructive-foreground: 36 45% 85%;
        --muted: 36 33% 30%;
        --muted-foreground: 36 45% 70%;
        --card: 36 46% 18%;
        --card-foreground: 36 45% 80%;
        --popover: 0 0% 5%;
        --popover-foreground: 240 10% 98%;
        --border: 36 45% 40%;
        --input: 36 45% 40%;
        --ring: 36 45% 70%;
        --chart-1: 25 34% 60%;
        --chart-2: 26 36% 55%;
        --chart-3: 28 40% 50%;
        --chart-4: 31 41% 45%;
        --chart-5: 35 43% 40%;
    }

    .midnight {
        --background: 240 5% 95%;
        --foreground: 60 5% 10%;
        --primary: 240 0% 10%;
        --primary-foreground: 60 0% 95%;
        --secondary: 240 4% 85%;
        --secondary-foreground: 60 5% 15%;
        --accent: 240 0% 75%;
        --accent-foreground: 60 0% 0%;
        --destructive: 0 60% 80%;
        --destructive-foreground: 0 0% 20%;
        --muted: 240 5% 85%;
        --muted-foreground: 60 5% 15%;
        --card: 240 4% 85%;
        --card-foreground: 60 5% 10%;
        --popover: 240 5% 85%;
        --popover-foreground: 60 5% 15%;
        --border: 240 6% 80%;
        --input: 240 6% 80%;
        --ring: 240 5% 10%;
        --chart-1: 359 2% 10%;
        --chart-2: 240 1% 26%;
        --chart-3: 240 1% 42%;
        --chart-4: 240 1% 58%;
        --chart-5: 240 2% 74%;

        --color-1: var(--color-1-midnight);
        --color-2: var(--color-2-midnight);
        --color-3: var(--color-3-midnight);
        --color-4: var(--color-4-midnight);
        --color-5: var(--color-5-midnight);
    }
    .midnight.dark {
        --background: 240 5% 6%;
        --foreground: 60 5% 90%;
        --primary: 240 0% 90%;
        --primary-foreground: 60 0% 0%;
        --secondary: 240 4% 15%;
        --secondary-foreground: 60 5% 85%;
        --accent: 240 0% 13%;
        --accent-foreground: 60 0% 100%;
        --destructive: 0 60% 50%;
        --destructive-foreground: 0 0% 98%;
        --muted: 240 5% 25%;
        --muted-foreground: 60 5% 85%;
        --card: 240 4% 10%;
        --card-foreground: 60 5% 90%;
        --popover: 240 5% 15%;
        --popover-foreground: 60 5% 85%;
        --border: 240 6% 20%;
        --input: 240 6% 20%;
        --ring: 240 5% 90%;
        --chart-1: 359 2% 90%;
        --chart-2: 240 1% 74%;
        --chart-3: 240 1% 58%;
        --chart-4: 240 1% 42%;
        --chart-5: 240 2% 26%;
    }

    .coral {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 24.6 95% 53.1%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 24.6 95% 53.1%;
        --radius: 0.5rem;
        --chart-1: 24 77% 50%;
        --chart-2: 24 77% 62%;
        --chart-3: 24 80% 72%;
        --chart-4: 24 83% 82%;
        --chart-5: 24 83% 91%;

        --color-1: var(--color-1-coral);
        --color-2: var(--color-2-coral);
        --color-3: var(--color-3-coral);
        --color-4: var(--color-4-coral);
        --color-5: var(--color-5-coral);
    }
    .coral.dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 20.5 90.2% 48.2%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 20.5 90.2% 48.2%;
        --chart-1: 24 77% 50%;
        --chart-2: 24 77% 62%;
        --chart-3: 24 80% 72%;
        --chart-4: 24 83% 82%;
        --chart-5: 24 83% 91%;
    }

    .amber {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;
        --radius: 0.5rem;
        --chart-1: 41 77% 50%;
        --chart-2: 43 77% 62%;
        --chart-3: 42 80% 72%;
        --chart-4: 38 83% 82%;
        --chart-5: 41 83% 91%;

        --color-1: var(--color-1-amber);
        --color-2: var(--color-2-amber);
        --color-3: var(--color-3-amber);
        --color-4: var(--color-4-amber);
        --color-5: var(--color-5-amber);
    }
    .amber.dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 35.5 91.7% 32.9%;
        --chart-1: 41 77% 50%;
        --chart-2: 43 77% 62%;
        --chart-3: 42 80% 72%;
        --chart-4: 38 83% 82%;
        --chart-5: 41 83% 91%;
    }

    .amethyst {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 262.1 83.3% 57.8%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 262.1 83.3% 57.8%;
        --radius: 0.5rem;
        --chart-1: 273 77% 50%;
        --chart-2: 273 77% 62%;
        --chart-3: 273 80% 72%;
        --chart-4: 273 83% 82%;
        --chart-5: 273 83% 91%;

        --color-1: var(--color-1-amethyst);
        --color-2: var(--color-2-amethyst);
        --color-3: var(--color-3-amethyst);
        --color-4: var(--color-4-amethyst);
        --color-5: var(--color-5-amethyst);
    }
    .amethyst.dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 263.4 70% 50.4%;
        --primary-foreground: 210 20% 98%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 263.4 70% 50.4%;
        --chart-1: 273 77% 50%;
        --chart-2: 273 77% 62%;
        --chart-3: 273 80% 72%;
        --chart-4: 273 83% 82%;
        --chart-5: 273 83% 91%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
